@import 'bootstrap/dist/css/bootstrap.min.css';

.conversor{
    display: block;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background: url("././img/dolarTela.jpeg") no-repeat bottom center scroll;
    background-position: 30% 45%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color:#45505E;
    margin: 8px 0px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 40px;
    margin-top: 40px;
}
.logo img{
    width: 100%;
    max-width: 160px;
}
.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}
.titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.titles h2{
    font-weight: 700;
    color: #45505E;
}
.line{
    margin: 0 20px;
}
.line::after{
    width: 2px;
    height: 20px;
    position: absolute;
    top: 0;
    content: " ";
    background-color: #000;
}
.description{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #8C9CAD;
}
.dados{
    width: 500px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}
.dolar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.tx-estado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.dados label{
    font-weight: 500;
    font-size: 18px;

}
.dados input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    position: static;
    width: 168px;
    height: 56px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #D7E0EB;
    box-sizing: border-box;
    border-radius: 4px;
}
.tipo-compra{
    width: 100%;
    height: 150px;
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.tipo-compra h4{
    font-weight: 700;
    font-size: 18px;
}
.select{
    width: 180px;
    display: flex;
    justify-content: space-between;
}
.select input{
    margin-right: 10px;
}
.botao{
    font-size: 16px;
    padding: 16px;
    color: #fff;
    background-color: #8c9cad;
    border: solid 2px #00AB63;
    border-radius: 8px;
}
.botao:hover{
    background: #00AB63;
}
.botao i{
    margin-right: 10px;
}
.botao2{
    font-size: 16px;
    padding: 16px;
    color: black;
    border: solid 1px #dadbdd;
    background-color: white;
    border-radius: 8px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.botao2 i{
    margin-right: 10px;
}
.card-result{
    margin-top: 20px;
    color: #00AB63;
}
.secondScreen{
    margin-top: 40px;
    margin-left: 40px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #00AB63;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid #00AB63;
}
